#projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap; /* 🔥 force une seule ligne */
    align-items: stretch;
}


.card {
    display: flex;
    align-items: baseline;
    border: 6px solid rgba(191, 208, 209, 0.9);
    border-radius: 5%;
    background-color: rgb(246, 217, 123);
    width: 30%;
    min-width: 280px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    min-height: 650px; /* optionnel mais recommandé */
}

.card img {
    width: 100%;
    height: auto;
    border: 4px solid black;
    margin-bottom: 20px;
}

.card a {
    margin-top: auto; /* bouton en bas */
}
#emoji {
    width: 70px;     /* taille nettement réduite */
    height: 70px;
    display: block;
    margin: 30px auto; /* centré + espace */
}
