/* Wrapper qui centre la card */
#contact-wrapper {
    background-color: bisque;
    display: flex;
    justify-content: center;   /* centre horizontalement */
    align-items: center;       /* centre verticalement */
    width: 100%;
    min-height: 80vh;          /* pour centrer dans la page */
    padding: 20px;
}

/* La card elle-même */
#card-container {
    background-color: #ffffff;
    border: 1px solid rgb(125, 125, 227);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 500px;          /* largeur idéale pour un formulaire */
    padding: 30px;
    gap: 40px;
    margin: 20px;
    

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#card-container:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

/* Formulaire en colonne */
#contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

#contact-container input {
    width: 100%;
    min-height: auto;
    padding: auto;
    border-radius: 6px;
    border: 1px solid #2a0233;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    }   

#contact-container textarea {
    width: 100%;
    min-height: 100px;
    border-radius: 6px;
    border: 1px solid #2a0233;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}
button {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
