.navbar a {
    position: relative;
    font-size: 28px;
    text-decoration: none;
    color: rgb(26, 0, 103);
    font-weight: 600;
    padding: 50px;
    margin-top: 30px;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 40px; /* ajuste selon ton padding */
    width: 0%;
    height: 3px;
    background: rgb(26, 0, 103);
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

#Titre {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(87, 9, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}
Header {
    background-color: rgb(235, 232, 227);
    border: 4px solid blue;
    border-radius: 2%;
    height: 110px;
    margin-bottom: 20px;
}
.icon {
    
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-left: 25px;
}